body
{
	background: url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=") no-repeat fixed ;
	background-size: cover;
}
#top
{
	background:linear-gradient(150deg,blueviolet,indianred,orange,yellow);
		width: 200px;
	margin: 150px auto;
	padding: 45px 30px 15px 25px;
	border-radius: 10px;
}
.col
{
	background-color: transparent;
	outline: none;
	border-block: none;
	border-left: none;
	border-right: none;
	padding-bottom: 0px ;
	border-bottom: 2px solid white;
	font-size: 15px;
	font-family: sans-serif;
	width: 200px;
}
.row
{
	padding-bottom:20px;
}
input[type="submit"]
{
	width: 200px;
	height: 40px;
	border-radius: 10px;
	background:linear-gradient(150deg,blueviolet,indianred,orange,yellow)
	
}
input[type="submit"]:hover
{
	box-shadow: -5px -5px 10px 05px lightgrey;
	cursor: pointer;
	

}
.op
{
	background:linear-gradient(150deg,blueviolet,indianred,orange,yellow);
}
#top .fa
{
text-align: center;
font-size:50px;
color:white;
margin-top:-90px;
border:5px solid blueviolet,indianred,orange,yellow ;
border-radius:100%;
box-shadow:0 0 10px blueviolet,indianred,orange,yellow;
padding:10px 10px;
}